option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    REDIS_ENDPOINT: spacegame-redis-apse2.anvb4w.0001.apse2.cache.amazonaws.com
    REDIS_PORT: 6379
    ALLOWED_ORIGINS: https://yourdomain.com,https://www.yourdomain.com,http://spacegame-client-7854.s3-website-ap-southeast-2.amazonaws.com 