files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/spacegame-server-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/server.log
      
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/spacegame-server-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/server.log 