option_settings:
  aws:elasticbeanstalk:application:environment:
    ALLOWED_ORIGINS: "http://spacegame-client-7854.s3-website-ap-southeast-2.amazonaws.com"

files:
  "/etc/nginx/conf.d/cors.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # CORS configuration
      add_header 'Access-Control-Allow-Origin' 'http://spacegame-client-7854.s3-website-ap-southeast-2.amazonaws.com' always;
      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept' always;
      add_header 'Access-Control-Allow-Credentials' 'true' always;
      
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' 'http://spacegame-client-7854.s3-website-ap-southeast-2.amazonaws.com' always;
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
        add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept' always;
        add_header 'Access-Control-Allow-Credentials' 'true' always;
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' '0';
        return 204;
      } 