# This file is temporarily disabled due to deployment issues
# files:
#   "/var/app/current/socketio_check.js":
#     mode: "000644"
#     owner: nodejs
#     group: nodejs
#     content: |
#       const express = require('express');
#       const app = express();
#       
#       // Add health check route
#       app.get('/socket.io/health', (req, res) => {
#         res.send('Socket.IO is running');
#       });
#       
#       app.listen(8082, () => {
#         console.log('Socket.IO health check server running on port 8082');
#       });
# 
# container_commands:
#   01_start_socketio_check:
#     command: "pm2 start /var/app/current/socketio_check.js || true"
#     ignoreErrors: true 