files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/server-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/server.log
      /var/log/nodejs/nodejs.log
      /var/log/eb-engine.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/server-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/server.log
      /var/log/nodejs/nodejs.log
      /var/log/eb-engine.log

  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_capture_server_log.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Create a server log file if it doesn't exist
      touch /var/app/current/server.log
      chmod 666 /var/app/current/server.log 