
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
    background-color: black;
  }
  
  hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    width: 100%;
  }
  
  button {
    font-size: 18px;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
    font-weight: bold;
  }
  
  button:hover {
    font-weight: bolder;
    background-color: rgb(230, 230, 230);
  }
  
  button:focus {
    outline: none;
  }
  
  .hidden {
    display: none !important;
  }

  .show {
    transition: alpha 2s ease;
  }

  #game-canvas {
    width: 100%;
    height: 100%;
  }
  
  #play-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    min-width: 250px;
  }
  
  #play-menu p {
    margin-bottom: 0;
    font-family: Helvetica;
    color: red;
  }

  #play-menu h1 {
    font-family: Antonio
  }
  
  #play-menu input {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;    
  }
  
  #play-menu input:hover {
    outline: none;
  }
  #leaderboard {
    position: fixed;
    font-family: Antonio;
    top: 10px;
    left: 10px;
    background-color: #dfe6e9;
    padding: 10px;
    border-radius: 5px;
  }
  
  #leaderboard th {
    text-align: center;
    padding: 2px 5px;
  }
  
  #leaderboard td {
    text-align: center;
    padding: 2px 5px;
  }
  .container > button {
    float: center;
    text-align: center;
    font-weight: bolder;
  }
  
  
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.75rem;
    }
  
    #play-menu {
      padding: 10px 15px;
      min-width: 280px;
    }
  
    #leaderboard th {
      padding: 0 3px;
    }
  
    #leaderboard td {
      padding: 0 3px;
    }
  
    #leaderboard table {
      font-size: 14px;
    }
  }